{% extends 'base.html.twig' %}

{% block title %}Stock{% endblock %}

{% block body %}
  <div class="container mt-4">

    <h1>Gérer mon stock</h1>

    <div class="text-right">
      <a href="{{ path('stock_new') }}" class="btn btn-primary">Add stock</a>
    </div>

    {% for message in app.flashes('success')%}
      <div class="alert alert-success">
        {{ message }}
      </div>
    {% endfor %}

    <table class="table table-striped">
      <thead>
        <tr>
        <th>Product</th>
        <th>Size</th>
        <th>Stock</th>
        </tr>
      </thead>
      <tbody>
      {% for stock in stocks %}
        <tr>
        <td>{{ stock.product }}</td>
        <td>{{ stock.size }}</td>
        <td>{{ stock.stock }}</td>
          <td>
            <a href="{{ path('stock_edit', {id: stock.id}) }}" class="btn btn-secondary">Edit</a>
            <form method="post" action="{{ path('stock_delete', {id: stock.id})}}" style="display: inline-block" onsubmit="return confirm('are you sure ?')">
              <input type="hidden" name="_method" value="DELETE">
              <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stock.id)}}">
              <button class="btn btn-danger">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}
