{% extends 'base.html.twig' %}

{% block title %}Size{% endblock %}

{% block body %}
  <div class="container mt-4">

    <h1>Gérer mes tailles</h1>

    <div class="text-right">
      <a href="{{ path('size_new') }}" class="btn btn-primary">Add size</a>
    </div>


    {% for message in app.flashes('success')%}
      <div class="alert alert-success">
        {{ message }}
      </div>
    {% endfor %}

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for size in sizes %}
        <tr>
          <td>{{ size.size }}</td>
          <td>
            <a href="{{ path('size_edit', {id: size.id}) }}" class="btn btn-secondary">Edit</a>
            <form method="post" action="{{ path('size_delete', {id: size.id})}}" style="display: inline-block" onsubmit="return confirm('are you sure ?')">
              <input type="hidden" name="_method" value="DELETE">
              <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ size.id)}}">
              <button class="btn btn-danger">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}
