{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
  <div class="container mt-4">

    <h1>Gérer mes produits</h1>

    <div class="text-right">
      <a href="{{ path('product_new') }}" class="btn btn-primary">Add product</a>
    </div>

    {% for message in app.flashes('success')%}
      <div class="alert alert-success">
        {{ message }}
      </div>
    {% endfor %}

    <table class="table table-striped">
      <thead>
        <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Color</th>
        <th>Price</th>
        <th>Gender</th>
        <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for product in products %}
        <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.brand }}</td>
        <td>{{ product.color }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.gender }}</td>
          <td>
            <a href="{{ path('product_edit', {id: product.id}) }}" class="btn btn-secondary">Edit</a>
            <form method="post" action="{{ path('product_delete', {id: product.id})}}" style="display: inline-block" onsubmit="return confirm('are you sure ?')">
              <input type="hidden" name="_method" value="DELETE">
              <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id)}}">
              <button class="btn btn-danger">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}
